<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Wines</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">WEB PROGRAMMING SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/home">Home</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/wines">Wines</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-success btn-sm ml-3" href="/shopping-cart">
                    <i class="fa fa-shopping-cart"></i> Cart
                </a>
                <a class="btn btn-light btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart"></i> Logout
                </a>
            </form>
        </div>
    </div>
</nav>
<body>

</body>
<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h3 class="jumbotron-heading">Shopping cart for
                <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}"></th:block>
            </h3>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right" th:if="${wines.size() > 0}">
                <form th:action="@{'/shopping-cart/emptyCart'}" th:method="DELETE">
                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Empty cart</i></button>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${hasError}">
        <h5 class="text-center text-danger" th:text="${error}"></h5>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${wines.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Wine</th>
                            <th scope="col">Price</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="wine : ${wines}" class="cart-item">
                            <td th:text="${wine.getName()}"></td>
                            <td th:with="sum=${wine.getPrice() * wine.getQuantity()}" th:text="${wine.getPrice() * wine.getQuantity()}"></td>
                            <td th:text="${wine.getManufacturer() != null} ? ${wine.getManufacturer().getName()} : 'No Manufacturer'"></td>
                            <td th:text="${wine.getCategory() != null} ? ${wine.getCategory().getName()} : 'No Category'"></td>
                            <td th:text="${wine.getQuantity()}"></td>
                            <td class="text-right">
                                <form th:action="@{'/shopping-cart/decreaseQuantity/{id}' (id=${wine.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-light btn-circle btn-sm"><i class="fa fa-trash">-</i></button>
                                </form>
                            </td>
                           <td class="text-right">
                               <form th:action="@{'/shopping-cart/increaseQuantity/{id}' (id=${wine.getId()})}" th:method="POST">
                                   <button type="submit" class="btn btn-light btn-circle btn-sm"><i class="fa fa-trash">+</i></button>
                               </form>
                            </td>
                            <td class="text-right">
                                <form th:action="@{'/shopping-cart/delete/{id}' (id=${wine.getId()})}" th:method="DELETE">
                                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Remove</i></button>
                                </form>
                            </td>
                           <!-- <td>
                                <h5 class="text-center text-danger" th:text="${total}"></h5>
                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</th:block>




